**.egg-info
**/__pycache__/

VERSION
outputs/

# Forced clean commit
tests/labs/mnn/flatc-conv/
tests/labs/mnn/notes.md
tests/labs/onnx/
tests/labs/safetensors/yolov5su.pt
tests/labs/safetensors/yolov5su.safetensors
tflite/
